<div class="container">
  <header class="header column">
    <div class="row">
      <div class="col-md-8">
        <h2 class="margin">Quién Soy?</h2>
          <h3 style="text-align: center;">Soy un alumno de la UTN FRA</h3>
      </div>
      <div class="col-md-2">
        <a class="navbar-brand">
          <span><strong>Brian Pariz</strong></span>
          <span class="d-none d-lg-block">
            <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="./assets/imagenes/quiensoy.jpg" alt="">
          </span>
        </a>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-1"></div>
    </div>

  </header>
  <aside class="sidebar column">
      <h3 class="margin">Esto es un trabajo práctico</h3>
      <p>Cada universidad, cada facultad, cada carrera y obviamente cada materia en particular tiene estrategias didácticas
        y formas de evaluación diferentes. A pesar de que en muchos casos las universidades intentan estandarizar la forma
        de dictar clase para generar un orden en las planificaciones cuatrimestre a cuatrimestre, las formas de evaluación
        son elementales tanto para las instituciones y profesores como para los alumnos. A través de la evaluación formativa
        el educador busca información en el alumno para lograr comprender cómo se está
        produciendo el proceso de aprendizaje y poder reajustar los objetivos pedagógicos. Y para el alumno es una muestra
        del progreso que está logrando y si puede aplicar, materializar y darle visibilidad a la comprensión del tema. Según
        Black y William (1998), la evaluación formativa, ayuda a que los estudiantes sean independientes a la hora del
        aprendizaje, es decir, se presenta como receptor, autorregulador y centro de esa misma evaluación. </p>
  </aside>
  <main class="content column">
    <h3 class="margin">Dónde Funciona?</h3><br>
    <div class="row">
      <p>Con las tecnologias WEB que permiten desarrollar aplicaciones multiplataforma</p>
      <img src="./assets/imagenes/quiensoy1.png" class="img-responsive margin imagenDeQuienSoy" alt="Image">
    </div>

    <div class="row">
      <p>Principalmente orientada a la experiencia del usuario, garantizando que su funcionamieto sea fluido y pensado
        en el comportamiento del usuario y en la funcionalidad.</p>
      <img src="./assets/imagenes/quiensoy2.jpg" class="img-responsive margin imagenDeQuienSoy" alt="Image">
    </div>

    <div class="row">
      <p>Para los sistemas operativos lideres en el mercado del consumo masivo</p>
      <img src="./assets/imagenes/quiensoy3.jpg" class="img-responsive margin imagenDeQuienSoy" alt="Image">
    </div>
  </main>
</div>