.panel {
  height: 200px;
  background-image: url("./../../../assets/imagenes/dadosBlack.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
text-align: center;
position: absolute;
font-family: fantasy;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: #64a19d;
}

.hero-text a {
border: none;
outline: 0;
display: inline-block;
padding: 10px 25px;
color: black;
background-color: #64a19d;
text-align: center;
cursor: pointer;
}

.hero-text a:hover {
background-color: #555;
color: white;
}

.btn-primary {
    background-color: #64a19d;
  }
  
  .btn-primary:hover {
    background-color: #4f837f;
  }
  
  .btn-primary:focus {
    background-color: #4f837f;
    color: white;
  }
  
  .btn-primary:active {
    background-color: #467370 !important;
  }